/* -------SHOWCASE HEADING----------- */

.main-header {
  background-image: url("../img/headphones2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-header::after {
  background-color: rgba(0, 0, 0, 0.3);
}